@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 639px) {
  .padding_mobile {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.scrollbar-custom::-webkit-scrollbar {
  height: 0.4rem; 
}

.scrollbar-custom.hovered::-webkit-scrollbar-thumb {
  visibility: visible;
  background-color: #e5dfdf; 
  border-radius: 4px;
  opacity: 1;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  visibility: hidden; 
  opacity: 0; 
  transition: opacity 0.3s; 
}

