@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 639px) {
  .padding_mobile {
    padding-left: 8px;
    padding-right: 8px;
  }
}

